@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
	src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
	     url('fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

body {
  background: #f1f1f1 !important;
  color: #333;
  padding-top: 70px; }

.container.padding-top, .row.padding-top {
  padding-top: 26px; }

.btn-rounded {
  border-radius: 29px !important;
  padding: 8px 24px !important; }

.btn-rounded.btn-inverse {
  font-weight: 100;
  letter-spacing: 1px; }

.btn-light {
  border: none !important;
  text-shadow: none !important;
  padding: 8px 24px !important;
  border-radius: 0px !important;
  letter-spacing: 1px; }
  .btn-light i {
    position: relative;
    left: -8px; }

.btn-large.btn-large {
  padding: 14px 30px !important;
  font-size: 14px; }

.btn-prompt {
  text-align: left;
  position: relative; }

.btn-prompt.open {
  overflow: hidden;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }
  .btn-prompt.open .controls {
    display: inline-block !important;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 8px;
    padding-bottom: 9px;
    padding-right: 15px;
    padding-left: 12px;
    margin-left: 10px; }
    .btn-prompt.open .controls a {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 12px;
      -webkit-transition: background-color 100ms linear;
      -moz-transition: background-color 100ms linear;
      -o-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
      border-left: solid 1px rgba(0, 0, 0, 0.1); }
      .btn-prompt.open .controls a i {
        left: 0; }
    .btn-prompt.open .controls a:first-child {
      margin-left: -11px; }
    .btn-prompt.open .controls a:last-child {
      margin-right: -9px !important; }
    .btn-prompt.open .controls a:hover {
      background-color: rgba(0, 0, 0, 0.05); }
  .btn-prompt.open a {
    color: white;
    text-decoration: none; }

  .tab-content {
	  background-color: #FDFDFD;
	  padding:20px;
  }
#file-tree .active {
  background: #eee; }

div.page-header {
  border-bottom: 1px solid #e4e4e4;
  margin: 20px 0 30px; }
  div.page-header .page-header {
    display: inline-block;
    margin: 20px 0 0;
    border: none; }
  .page .page-header {
	  margin: 10px 0 20px;
  }
  .popover-container {
    float: left;
    position: relative;}
    .popover-container .hover-popover {
      display: none;
      position: absolute;
      top: 100%;
      right: 0px;
      width: 400px;
      background: #fdfdfd;
      border-radius: 5px;
      padding: 10px;
      margin-top: 4px;
      z-index: 20;
      box-shadow: 0 0 8px black; }
     .popover-container .hover-popover .header {
        width: 100%;
        border-bottom: solid 1px #aaa;
        padding-bottom: 4px;
        margin-bottom: 6px; }
        .popover-container .hover-popover .header h3, div.page-header .popover-container .hover-popover .header h4, div.page-header .popover-container .hover-popover .header h5 {
          float: left; }
      .popover-container .hover-popover .content {
        padding: 0 4px; }
        .popover-container .hover-popover .content .nav-tabs-custom-dark .active a {
          border-bottom: solid 1px #333333; }
        .popover-container .hover-popover .content h5 {
          border-bottom: solid 1px #aaa; }
        .popover-container .hover-popover .content .file-list-container {
          border-bottom: solid 1px #aaa; }
      .popover-container .hover-popover a {
        /*margin-top: 6px;
        background: #333333;
        border: solid 1px #AAA;
        box-shadow: none;
        color: #D5D5D5;
        text-shadow: none; */}
    .popover-container .hover-popover:after {
      content: '';
      width: 0;
      height: 0;
      z-index: -2;
      position: absolute;
      right: 30px;
      top: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 11px solid #fdfdfd; }

[class*="span"] .page-header {
  margin: 14px 0 !important; }

[class*="span"] div.page-header .btn {
  margin-top: 4px !important; }

.page {
  background: #FDFDFD;
  border: solid 1px #e4e4e4;
  border-radius: 0px; }
  .page .page-header {
    /*margin-bottom: 0 !important; */}
  .page .tab-content {
	  padding: 20px 0;
  }

[class*="span"].page {
  margin: 0 -1px; }

.container.page {
  margin: 30px auto;
  padding: 0 30px 30px; }

.dashboard .card {
  background: white;
  margin-bottom: 5px;
  padding: 10px 0;
  border-radius: 3px;
  border: solid 1px #e4e4e4; }
  .dashboard .card .header {
    padding: 0 10px; }
    .dashboard .card .header .title {
      float: left;
	  line-height: inherit;}
    .dashboard .card .header .time {
      float: right;
      margin: 10px 0;
      color: #999; }
  .dashboard .card .content {
    display: none;
    padding: 0 10px;
    padding-top: 14px;
    border-top: solid 1px #e4e4e4; }

.nav-editor {
  margin: 40px 0; }

.nav-tabs-custom {
  padding-top: 20px !important;
  background: #fdfdfd;
  padding-left: 20px;
  padding-right: 20px; }
  .nav-tabs-custom li {
    font-size: 14px;}
    .nav-tabs-custom li a {
      transition: all 100ms linear;
      margin-bottom: 0px;
      border: none !important;
      border-bottom: solid 3px transparent;
      font-weight: 400; }
      .nav-tabs-custom li a i {
        opacity: 0.5;
        transition: all 100ms linear; }
    .nav-tabs-custom li a:hover {
      background: transparent !important;
      border-bottom: solid 3px transparent !important;
      border: none !important;
      font-weight: 400; }
      .nav-tabs-custom li a:hover i {
        opacity: 1; }
   .nav-tabs-custom > li.active > a,
   .nav-tabs-custom > li.active > a:hover,
   .nav-tabs-custom > li.active > a:focus {
	border: none;
    border-bottom: solid 3px #555555 !important;
    background: transparent;
    font-weight: 600; }
    .nav-tabs-custom li.active a i {
      opacity: 1; }
  .nav-tabs-custom li.active a:hover {
    border-bottom: solid 3px #555555 !important;
    border: none; }
  .nav-tabs-custom li.active:hover {
    background: transparent;
    border: none !important; }
  [class*="span"] .nav-tabs-custom {
  margin: 0;
  padding: 0; }


  .page .nav-tabs-custom,
  .hover-popover .nav-tabs-custom {
	  padding:0;
  }
  .page .nav-tabs-custom li a,
  .hover-popover .nav-tabs-custom li a {
	  padding:10px;
  }


.tab-pane .content {
  padding: 0 20px; }
  .tab-pane .content .control-group {
    margin-bottom: 20px; }
.tab-pane .form-footer {
  background: #fdfdfd;
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: none;
  border-top: solid 1px #ececec; }
  .tab-pane .form-footer * {
    margin-left: 10px; }
  .tab-pane .form-footer *:first-child {
    margin-left: 20px; }

[class*="span"] .tab-pane {
  padding: 20px 30px; }

.user-list ul {
  list-style: none;
  margin-left: 10px;
  padding:0;}
  .user-list ul li {
    font-size: 14px;
    margin-left: -10px;
    padding: 6px 10px; }
    .user-list ul li a {
      margin-left: 10px; }
  .user-list ul li.active {
    background: #DDD; }

.thumbnail .caption h4 {
  float: left;
  margin-top: 16px; }
.thumbnail .caption .btn {
  margin-top: 4px; }

.menue-list {
  position: relative;
  list-style: none;
  margin-left: 10px;
  padding-left: 16px;}
  .menue-list ul {
    list-style: none;
    position: relative; }
  .menue-list li {
    margin-left: 5px; }
  .menue-list li.active {
    background: #ccc; }
    .menue-list li.active a {
      color: #333; }
  .menue-list li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 2px;
    width: 16px;
    height: 16px; }
  .menue-list .menue-file:before {
    background-image: url(images/file.png); }
  .menue-list .menue-folder:before {
    background-image: url(images/directory.png); }
  .menue-list a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding-left: 6px; }
  .menue-list a:hover {
    text-decoration: none;
    color: #333; }

.full-screen-popover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  z-index: 1000;
  opacity: 0.6;
  display: none; }

.footer {
  background: #333;
  height: 100px;
  margin-top: 22px; }
  .footer h4 {
    margin-top: 40px;
    color: #999;
    text-align: center; }
    .footer h4 b {
      background: #555;
      padding: 1px 3px; }

#edit_buttons_block {
  position: fixed;
  margin-left: 500px;
  top:50px;
  z-index: 100; }
#imgPrev {
	padding: 6px 0;
}
#previewImage img {
	width:100%;
	height: auto;
}