#areas_manager {
    width: 100%;
    min-height: 150px;
    max-height: 100%;
    min-width:  640px;
}

#content_areas_manager {
    padding: 0 0.5em 0 0;
    margin: 0 0 0.5em 0;
    float: right;
    width: 100%;
}

#areas_manager>div {
    border: 1px solid silver;
}

#areas_manager #areasList{
    width: 10%;
    height: 100%;
    float: left;
    overflow: auto;
    margin: 0 0 0 1em;
    padding: 1px;
}

#areas_manager #areasSettings{
    padding: 2px 2px 2px 1em;
    margin: 0 22% 0 12%;
    overflow: auto;
    height: 100%;

}


#areas_manager #bereichList button{
    width: 100%;
}

#areas_manager .temp_buttons{
    width: 10em;
    height: 2.5em;
    margin: 10px;
    /*font-size: small;*/
}

#areas_manager .bereichSettingsElement{
    width: 320px;
    margin-left: 30px;
}

#areas_manager label{
    display: inline-block;
    vertical-align: middle;
    alignment-adjust: middle;
    width: 10em;
}
#areas_manager li button .buttonMenuSelected{
    color: #f4f954;
    font-weight: bolder;
}
