Rules where to store which files and how to structure the directories:
@author Simon Michalke

general:
  a) Seperate .css, .js files and the php classes completly
  b) classes that are mainly used by one site should have the similiar name
  c) keep the files as small and simple as possible. Especially the .php files you access via webbrowser
  d) all .css files are in the css subfolder, all .js files in the fe_js subfolder, etc
